<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activate Acoount</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

</head>

<body>
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a href="" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-purple-500 rounded-full"
                    viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">Your Health</span>
            </a>
        </div>
    </header>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-12 mx-auto flex flex-wrap items-center">
            <div class="w-full bg-gray-100 p-8 rounded mx-auto shadow-2xl text-center">
                <p class="leading-relaxed mt-4">Due to some error in sending Email through api.</p>
                <p class="leading-relaxed mt-4">We are manually activating account. This will be fixed soon.</p>
                <p class="leading-relaxed mt-4">Clik on below link to activate your account.</p>
                <a href="/activate/{{id}}"><button
                        class="text-white bg-purple-500 border-0 py-2 px-8 focus:outline-none hover:bg-purple-600 rounded text-lg">Activate</button></a>
            </div>
        </div>

    </section>

    {{>footer}}
</body>

</html>